tests/data/** filter=lfs diff=lfs merge=lfs -text
notebooks/kedro_viz_config.json filter=lfs diff=lfs merge=lfs -text
notebooks/example_kedro_viz_config_builder.html filter=lfs diff=lfs merge=lfs -text
